


<div class="w3-col m2 s12">
  
  
  <div class="w3-card-4 w3-margin w3-white">

  <div class="w3-container w3-blue">
   
  <h1> Quoter </h1>
  </div>
  </div>
  </div>
  <div class="w3-container w3-yellow">
  <h3> Welcome, <%= @user.name %> !</h3> 
  </div>
  <div class="w3-container w3-black">
  <h4> username: <%= @user.username %> </h4>
 </div>
 <br></br>
  
  

  <a href= '/quoter' method="GET">
  
  <button class= "w3-button w3-padding-large w3-red w1-border">
    
   Quote Generator
    
  </button>
  </a> 
  <a href= '/quote_list' method="GET">
  
  <button class= "w3-button w3-padding-large w3-lightblue w1-border">
    
  My Quote List
    
  </button>
  </a> 
  
  <a href= '/logout' method="GET">
  
  <button class= "w3-button w3-padding-large w3-black w1-border">
    
  Logout
    
  </button>
  </a> 
 <a href= '/edit' method="GET">
  
  <button class= "w3-button w3-padding-large w3-yellow w1-border">
    
  change username
    
  </button>
  </a> 
   
  </div>
  </div>

  